.footer{
    background-color: #2D4268;
    color: white;
    padding: 10px;
    .contactHeading1 {
        color: #EC8C58;
        font: 600 30px/52px 'Teko', sans-serif;
      
    }
    .contactHeading2{
        color: #EC8C58;
        font: 600 30px/52px 'Teko', sans-serif;
    }
    button{
        min-height: 50px;
        min-width: 70px;
        background-color: #EC8C58;
        border: none;
        color: white;
    }
    .socialIcon{
        margin-top: 10px;
    }
    input{
        min-width: 200px;
        min-height: 50px;
    }
    ul{
        padding-inline-start: 0;
        list-style: none;
        
        
    }
    .ul1 >li{
        display: inline;
        margin: 10px 30px 0px 0px;
        
       
        img{
            width: 50px;
            margin-top: 20px;
        }
        a{
            font-size: 20px;
            text-decoration: none;
            color: white;
        }
    }
    .ul2 > li{
                    line-height: 30px;
            a{
                text-decoration: none;
                color: #fff;
                
            }
            span{
                display: table-cell;
               
            }
    }
 
    .icon{
        padding-right: 10px;
        display: table-cell;
        font-size: 20px;
    vertical-align: top;
    position: relative;
    top: 5px;
    }

}
