.welcome {
  padding-bottom: 50px;
  background-color: #F1F1F1;
  .homeTitle{
    color: #2D4268;
  }
  .slider{

      h4{
          color: #2D4268;
      }
  }
  .button {
    background-color: #5880a4;
    color: #ffffff;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
  }

}
